DATABASE_URL="file:./dev.db"
JWT_SECRET="your-very-secret-jwt-key-here"
PORT=3000
FRONTEND_URL="http://localhost:5173"

# Não faça isso em projetos reais
ADMIN_EMAIL="admin@barbearia.com"
ADMIN_PASSWORD="admin123"
ADMIN_NAME="Administrador"


